/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px rgb(91, 139, 243);
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}



/* column-top is table row of clickable areas for each column */

#top-row td {
  border: dashed 1px lightgray;
  transition: .7s;
}

#top-row td:hover {
  background-color: rgb(228, 227, 227);
}

#top-row{
  transition: 1.5s;
}